<div class='component'>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Image</td>
          <td>Name</td>
          <td>Type</td>
          <td>Amount</td>
          <td>Price per each</td>
          <td>Total price</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let productAmount of productsInCart'>
          <td><img [src]="'http://cdn0.iconfinder.com/data/icons/black-logistics-icons/256/Add_product_arrow.png'"></td>
          <td>{{productAmount.productType.product.name}}</td>
          <td>{{productAmount.productType.name}}</td>
          <td>{{productAmount.amount}}</td>
          <td>{{productAmount.productType.price}}</td>
          <td>{{productAmount.productType.price * productAmount.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>