.component{
    width: 30%;
    float: left;
    margin: 1%;
    align-content: center;
}

img {
    width: 100px;
}

.panel-body {
    padding-bottom: 0px;
}

app-single-type-order-component {
    width: auto;
    display: block;
}

app-multi-type-order-component{
    width: auto;
    display: block;
}