<div id="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#types">Typy</a>
      </h4>
    </div>
    <div id="types" class="panel-collapse collapse">
      <div class="panel-body">

            <div *ngFor='let type of types'>
              <app-single-type-order-component [type]='type'></app-single-type-order-component>
            </div>

      </div>
    </div>
  </div>
</div>